{%extends 'base.html'%}
{%block content%}
<br><br><br><br><br><br>
<h1>{{b.name}}</h1>
<br>______
<br><br><br>
<p>{{b.snum}}<br>{{b.dept}}</p>
<br>
<h6>최종 제출 시각 <span style="color: red;">{{b.s_time}}</span></h6>
<div class="text" style="background-color: white; color: black;">
{%if b.image%}
<br><h5> 첨부파일 </h5>
<p><img src="{{b.image.url}}" alt="" width="50" height="50"></p>
<br>
{%endif%}
<br><h5> 1. 지원 동기 (500자 이내) </h5>
<p>{{b.motive}}</p>
<br>
<br><h5> 2. 만들고 싶은 서비스 (500자 이내) </h5>
<p>{{b.service}}</p>
<br>
<br><h5> 3. 본인의 장점과 단점에 대해 서술해주세요. (500자 이내) </h5>
<p>{{b.pac}}</p>
<br>
<br><h5> 4. 프로젝트/동아리 활동 경험 및 단체 내 갈등 발생시 해결 방법을 서술해주세요. (500자 이내) </h5>
<p>{{b.conflict}}</p>
<br>
<br><h5> 5. 멋사를 통해서 얻어가고 싶은 것과 포부를 서술해주세요. (100자 이내) </h5>
<p>{{b.aspire}}</p>
<br>
</div>
<br><br><br>
<div style="display: inline-block;">
<a href="{%url 'urlhome2'%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">돌아가기</a>
<a href="{%url 'urledit' b.id%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">수정하기</a>
<a href="{%url 'urldelete' b.id%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">삭제하기</a>
</div>
<br><br><br>



{%endblock%}
