{%extends 'base.html'%}
{%block content%}
<div><h1><strong>멋쟁이사자처럼</strong></h1>
<br><h1><strong>지원하기 전에</strong></h1>
<br>______
<br><br>
<h3><strong>[지원 시 유의사항]</strong></h3><br>
<p>1. 회원 가입 시 본인의 학교 및 개인 정보를 정확하게 기입해주세요.</p>

<p>2. 학교 별로 입력해야하는 질문 내용 및 요구 사항이 다르므로, 잘 확인 후 지원서를 작성해주세요. <br>

    * 학교 별로 문항 별 글자 수 제한, 첨부파일이 필요한 곳이 있으니 꼭 확인한 후 지원서를 작성해주시기 바랍니다. <br></p>

<p>3. 최종 제출 후에는 수정이 불가능하니, 제출 전 꼼꼼히 확인해 주시기 바랍니다.</p>

<h3><strong>[선발 절차]</strong></h3><br>
<p>1. 지원서를 제출하면 학교 운영진이 확인 후 합격여부를 지원자에게 전달합니다.</p>

<p>2. 학교 별로 2차 면접을 진행하는 곳도 있습니다.</p>

<p>3. 최종 선발 이후에는 멋쟁이사자처럼 공식 OT 이후 정식 활동을 시작합니다.</p>

<h3><strong>[일정]</strong></h3><br>
<p>모집 : <span style="color: darkorange;">2021.02.22 ~ 2021.03.12</span></p>

<p>서류 및 면접 : <span style="color: darkorange;">2021.03.13 ~ 03.21</span></p>

<p>공식 오리엔테이션 : <span style="color: darkorange;">2021.03.27</span> (금년도 행사는 코로나-19에 따라 온라인으로 대체되어 진행됩니다.)</p>
</div>
<br><br>
    <br><br>
    <a href="{%url 'urllogin'%}" type="button" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">로그인</a>&nbsp;
    <a href="{%url 'urlsignup'%}" type="button" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">회원가입</a>   
<br><br><br><br><br><br>
{%endblock%}