{%extends 'base.html'%}
{%block content%}
<br><br>
<h1><strong>경기대학교</strong></h1><br><br>
______ <br><br><br>
{%if user.is_authenticated%}
<h5>{{user.realname}}님 🦁 반갑습니다!</h5>
<br><br>
<a href="{%url 'urlnew'%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">지원하기</a>&nbsp;
<a href="{%url 'urllogout'%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">로그아웃</a>
{%else%}
<a href="{%url 'urlhome'%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">지원하러가하기</a>
{%endif%}
<br><br><hr>
<br><br><br>
<h3 style="text-align: left;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;현재까지 제출된 지원서는 총 <span style="color: red;">{{count}}</span> 개입니다.</strong></h3><br><br>
{%if user.is_staff%}
  {%for a in aa%}
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem; display: inline-block; padding: 50;" >
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
      <h5 class="card-title">{{a.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{a.snum}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{a.dept}}</h6> 
      <h6 class="card-title">{{a.s_time}}</h6> 
        <br><br>
        <a href="{%url 'urldetail' a.id%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">확인하기</a>
      </div>
  </div>
  {%endfor%}
<br><br><br><br><br>
{%elif user.is_authenticated%}
  {%for a in aa%}
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem; display: inline-block; padding: 50;">
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
      {%if user.s_num == a.snum%}
      <h5 class="card-title">{{a.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{a.snum}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{a.dept}}</h6> 
      <h6 class="card-title">{{a.s_time}}</h6> 
        <br><br>
        <a href="{%url 'urldetail' a.id%}" class="btn btn-lg" style="border-color: darkorange; color: darkorange;">확인하기</a>
      {%else%}
      <h5 class="card-title">예비사자</h5>
      <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{a.dept}}</h6><br> 
      <h6 class="card-title">{{a.s_time}}</h6>
      <br><br>
      {%endif%}
      
        <br><br>
        </div>
  </div>
  {%endfor%}
{%endif%}
{%endblock%}

